SBProject/Resources/dbReference.wsdl

<wsdl:definitions
     name="dbReference"
     targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ExecuteSQLJCAServiceBusApplication/SBProject/dbReference"
     xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/db/ExecuteSQLJCAServiceBusApplication/SBProject/dbReference"
     xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/"
     xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:top="http://xmlns.oracle.com/pcbpel/adapter/db/top/dbReference"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
  <plt:partnerLinkType name="dbReference_plt" >
    <plt:role name="dbReference_role" >
      <plt:portType name="tns:dbReference_ptt" />
    </plt:role>
  </plt:partnerLinkType>
    <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" >
        <import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/dbReference" schemaLocation="dbReference_table.xsd" />
      </schema>
    </wsdl:types>
    <wsdl:message name="dbReferenceSelect_inputParameters">
        <wsdl:part name="dbReferenceSelect_inputParameters" element="top:dbReferenceSelect_empidInputParameters"/>
    </wsdl:message>
    <wsdl:message name="selectByPrimaryKey_inputParameters">
        <wsdl:part name="selectByPrimaryKey_inputParameters" element="top:EmployeePrimaryKey"/>
    </wsdl:message>
    <wsdl:message name="Employee_msg">
        <wsdl:part name="Employee" element="top:Employee"/>
    </wsdl:message>
    <wsdl:message name="EmployeeCollection_msg">
        <wsdl:part name="EmployeeCollection" element="top:EmployeeCollection"/>
    </wsdl:message>
    <wsdl:portType name="dbReference_ptt">
        <wsdl:operation name="merge">
            <wsdl:input message="tns:EmployeeCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="insert">
            <wsdl:input message="tns:EmployeeCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="update">
            <wsdl:input message="tns:EmployeeCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="delete">
            <wsdl:input message="tns:EmployeeCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="dbReferenceSelect">
            <wsdl:input message="tns:dbReferenceSelect_inputParameters"/>
            <wsdl:output message="tns:EmployeeCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="selectByPrimaryKey">
            <wsdl:input message="tns:selectByPrimaryKey_inputParameters"/>
            <wsdl:output message="tns:EmployeeCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="queryByExample">
            <wsdl:input message="tns:Employee_msg"/>
            <wsdl:output message="tns:EmployeeCollection_msg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
